<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\contactus.css">
    <title>Contact Us</title>                                                       
  
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div>Online Library</div>
        <div>
            <a href="home">Home</a>
            <a href="books">Books</a>
            <a href="buybooks">Buy Books</a>
            <a href="contactus">Contact Us</a>
           
        </div>
    </nav>

    <div class="container">
        <h1>Contact Us</h1>
        <form>
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea rows="5" placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
        <div class="contact-info">
            <p>Email: support@onlinelibrary.com</p>
            <p>Phone: 0123-456-789</p>
            <p>Address: Online Library, Global</p>
            <div class="social-icons">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</body>
</html>
